<% container do %>
  <h1><%= @forum_category.title %></h1>

  <% if can? :create, ForumThread %>
    <%= link_to "New", "/forum/posts/new?category=#{@forum_category.id}", class: 'uk-button uk-button-primary' %>
  <% end %>
<% end %>

<table class="uk-table uk-table-striped uk-table-middle">
  <thead>
    <tr>
      <th>Thread</th>
      <th>Actions</th>
      <th>Posts</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
    <% for thread in @forum_category.forum_threads %>
    <tr>
      <td>
        <a href="/forum/threads/<%=thread.id%>"><% if thread.forum_posts.count > 0 %><%= thread.forum_posts.first.title %>
        <% else %>ERROR<% end %></a>
      </td>
      <td>
        <% if can? :destroy, thread %>
        <%= link_to "Delete", thread, data: {confirm: "Are you sure?"}, :method => :delete, class: 'uk-button uk-button-danger uk-button-small' %>
        <% end %>
      </td>
      <td><%= thread.forum_posts.count %></td>
      <td>
        <div class="uk-text-top">
          <div>
            <% if thread.forum_posts.count > 0 %>
              <%= link_to thread.forum_posts.last.title, "/forum/threads/#{thread.id}#post-#{thread.forum_posts.last().id}" %> (<% if thread.forum_posts.last.user %><%= link_to thread.forum_posts.last.user.username, user_path(thread.forum_posts.last.user) %><% else %>deleted<% end %>)
              in
              <%= link_to thread.forum_posts.first.title, forum_thread_path(thread) %> (<% if thread.forum_posts.first.user %><%= link_to thread.forum_posts.first.user.username, user_path(thread.forum_posts.first.user) %><% else %>deleted<% end %>)
            <% else %>
              No Threads
            <% end %>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
