<% container do %>
<h1>Blog Posts tagged with
  <%=@blog_tag.name%></h1>

<div uk-grid>
  <div class="uk-width-3-4">
    <% for post in @blog_posts %>
    <article class="uk-article">

      <h1 class="uk-article-title"><%= link_to post.title, blog_post_path(post), class: 'uk-link-reset' %></h1>

      <p class="uk-article-meta">Written
        <% if post.user %>by
        <%= link_to post.user.username, user_path(post.user) %>
        on
        <%= post.created_at.strftime('%b %d, %Y') %>.
      </p>
      <% end %>
      <p><% if post.body %><%= strip_tags post.body.truncate(358) %><% end %></p>
      <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
          <%= link_to "Read more", blog_post_path(post), class: 'uk-button uk-button-text' %>
          <% if can? :update, BlogPost %>
          <%= link_to "Edit", edit_blog_post_path(post), class: 'uk-button uk-button-text' %>
          <% end %>
          <% if can? :delete, BlogPost %>
          <%= link_to "Delete", blog_post_path(post), data: {confirm: "Are you sure?"}, :method => :delete, class: 'uk-button uk-button-text' %>
          <% end %>
        </div>
      </div>

    </article>
  </div>
  <div class="uk-width-1-4">
    <%= render 'blog_posts/taglist' %>
  </div>
</div>
<% end %>
<% end %>
