<div class="uk-container uk-container-expand">
  <h2>Edit <%= @user.username %></h2>

  <%= form_for @user do |f| %>

    <div class="field uk-margin">
      <%= f.label :username, class: "uk-form-label" %><br />
      <%= f.text_field :username, class: "uk-input" %>
    </div>

    <div class="field uk-margin">
      <%= f.label :email, class: "uk-form-label" %><br />
      <%= f.email_field :email, class: "uk-input" %>
    </div>

    <div class="field uk-margin">
      <%= f.label :password, class: "uk-form-label" %> <i>(leave blank if you don't want to change it)</i><br />
      <%= f.password_field :password, autocomplete: "off", class: "uk-input" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>

    <div class="field uk-margin">
      <%= f.label :password_confirmation, class: "uk-form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "uk-input" %>
    </div>

    <div class="field uk-margin">
      <%= f.file_field :avatar %>
    </div>
    <% if current_user.has_role? :admin %>

      <select name="user[_roles][]" multiple class="uk-select">
        <% Role.defined_roles.each do |role|%>
          <option value="<%=role%>" <%if @user.has_role? role%>selected<%end%>><%= role %></option>
        <% end %>
      </select>
    <% end %>

    <div class="actions uk-margin">
      <%= f.submit "Update", class: "uk-button uk-button-primary" %>
    </div>

  <% end %>

  <h3>Delete this account</h3>

  <%= button_to "Delete this account", user_path(@user), data: { confirm: 'Are you sure you want to do this? Please note that posted content will not be deleted.' }, method: :delete, class: 'uk-button uk-button-danger' %>
</div>
