<% container do %>
<div class="uk-margin-medium-bottom">
  <% if can? :create, Post %>
  <%= link_to "New", "/posts/new", class: 'uk-button uk-button-primary' %>
  <% end %>
</div>

<% @posts.each do |post| %>
<article class="uk-article">

  <h1 class="uk-article-title"><%= link_to post.title, post_path(post), class: 'uk-link-reset' %></h1>

  <p class="uk-article-meta">Written
    <% if post.user %>by
    <a href="/users/<%= post.user.id %>"><%= post.user.username %></a><% end %>
    on
    <%= post.created_at.strftime('%b %d, %Y') %>.</p>

  <p><% if post.body %><%= post.body.truncate(358) %><% end %></p>

  <div class="uk-grid-small uk-child-width-auto" uk-grid>
    <div>
      <%= link_to "Read more", post_path(post), class: 'uk-button uk-button-text' %>
      <% if can? :update, Post %>
      <%= link_to "Edit", edit_post_path(post), class: 'uk-button uk-button-text' %>
      <% end %>
      <% if can? :delete, Post %>
      <%= link_to "Delete", post_path(post), data: {confirm: "Are you sure?"}, :method => :delete, class: 'uk-button uk-button-text' %>
      <% end %>
    </div>
  </div>

</article>
<% end %>
<% end %>
