<div class="uk-container uk-container-expand">
  <div>
    <% if can? :create, ForumPost %>
      <%= link_to "New", "/forum/posts/new?thread=#{@forum_thread.id}", class: 'uk-button uk-button-primary' %>
    <% end %>
  </div>
  <% for post in @forum_thread.forum_posts %>
  <div class="uk-margin-medium-top" uk-grid>
    <div class="uk-width-small">
      <div>
        <img src="<%=post.user.avatar%>" alt="<%=post.user.username%>' Avatar" style="height:120px;width:100%" height="150" width="150">
      </div>
      <div class="uk-text-center uk-margin-small-top">
        <a href="/users/<%=post.user.id%>"><%= post.user.username %></a>
      </div>
      <div>
        <% if post.user == @forum_thread.forum_posts.first.user %>
          <span class="uk-label" title="Original Poster" uk-tooltip>OP</span>
        <% end %>
        <% if post.user.has_role? :admin %>
          <span class="uk-label uk-label-danger" title="Administrator" uk-tooltip>A</span>
        <% elsif post.user.has_role? :moderator %>
          <span class="uk-label uk-label-warning" title="moderator" uk-tooltip>M</span>
        <% end %>
      </div>
      <div class="uk-margin-small-top">
        <% if can? :update, post %>
          <a href="/forum/posts/<%=post.id%>/edit" class="uk-button uk-button-default uk-width-1-1">Edit</a>
        <% end %>
        <% if can? :destroy, post %>
          <%= link_to "Delete", post, data: {confirm: "Are you sure?"}, :method => :delete, class: 'uk-button uk-button-danger uk-width-1-1' %>
        <% end %>
      </div>
    </div>
    <div class="uk-width-expand">
      <div class="uk-text-lead forum-post-title"><%= post.title %></div>
      <div class="uk-text-small forum-post-body">
        <%= markdown(post.body) %>
      </div>
    </div>
  </div>

  <% end %>
</div>
