<% container do %>
  <% for post in @forum_thread.forum_posts %>
  <div class="uk-card uk-card-default uk-width-1-1 uk-margin-top" id="post-<%=post.id%>">
      <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                  <img class="uk-border-rounded" width="40" height="40" src="<%=get_avatar(post.user)%>">
              </div>
              <div class="uk-width-expand">
                  <h3 class="uk-card-title uk-margin-remove-bottom"><%= post.title %></h3>
                  <p class="uk-text-meta uk-margin-remove-top">Posted <time datetime="<%= post.created_at %>"><%= post.created_at %></time> by
                  <span class="<% for role in post.user ? post.user.roles : [] %>rolestyle-<%=role.name%> <% end %> <% if post.user_id == @forum_thread.user_id %>rolestyle-op<% end %>"><%= link_to post.user ? post.user.username : 'deleted', post.user ? user_path(post.user) : '#' %></p>
              </div>
          </div>
      </div>
      <div class="uk-card-body">
          <%= sanitize post.body, tags: %w(strong em a code pre h1 h2 h3 p blockquote ul ol li br b i u s code img video audio blockquote table tr td),
                attributes: %w(href src alt height width) %>
      </div>
      <div class="uk-card-footer">
        <% if can? :update, post %>
        <a href="/forum/posts/<%=post.id%>/edit" class="uk-button uk-button-default">Edit</a>
        <% end %>
        <% if can? :destroy, post %>
        <%= link_to "Delete", post, data: {confirm: "Are you sure?"}, :method => :delete, class: 'uk-button uk-button-danger' %>
        <% end %>
      </div>
  </div>
  <% end %>

  <%= render 'forum_threads/form' %>
<% end %>

<%= render 'forum_threads/tablescript' %>
