<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />

    <title>Dorp</title>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="manifest" href="/manifest.json" />

    <link rel="stylesheet" href="https://unpkg.com/uikit/dist/css/uikit.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/simplemde/dist/simplemde.min.css" />
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <script src="https://unpkg.com/jquery" charset="utf-8"></script>
    <script src="https://unpkg.com/uikit" charset="utf-8"></script>
    <script src="https://unpkg.com/uikit/dist/js/uikit-icons.min.js" charset="utf-8"></script>

    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="uk-navbar-container" uk-navbar="mode: click">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/posts">Blog</a></li>
          <li><a href="/forum">Forum</a></li>
        </ul>
      </div>

      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
          <% if user_signed_in? %>
            <li><%= link_to('Account', edit_user_registration_path) %></li>
            <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
          <% else %>
            <li><%= link_to('Sign In', new_user_session_path) %></li>
            <li><%= link_to('Sign Up', new_user_registration_path) %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

  </body>
</html>
